<div class="row">
  <div class="col l6">
    <div class="component-wrapper">
      <div class="component">
        <div class="component-title">
          <h3>Opportunities</h3>
        </div>
        <div class="component-body">
          
        </div>
      </div>
    </div>
  </div>
  <div class="col l6">
    <div class="component-wrapper">
      <div class="component">
        <div class="component-title">
          <h3>Sales</h3>
        </div>
        <div class="component-body">
          
        </div>
      </div>
    </div>
  </div>
  <div class="col l12">
    <div class="component-wrapper">
      <div class="component">
        <div class="component-title">
          <h3>Sales</h3>
        </div>
        <div class="component-body">
          
        </div>
      </div>
    </div>
  </div>
  <div class="col l12">
    <div class="component-wrapper">
      <div class="component">
        <div class="component-title">
          <h3>Sales</h3>
        </div>
        <div class="component-body">
          
        </div>
      </div>
    </div>
  </div>

</div>