<div class="component-wrapper">
    <div class="component">
      <div class="component-title">
        <h3>Tasks</h3>
      </div>
      <div class="component-body">
        <table>
          <tbody>
            <tr>
              <td>Task 1</td>
              <td><div class="dot green"></div> In Progress</td>
              <td>Active</td>
              <td><a routerLink="/user/edit/test">Edit</a></td>
              <td><button class="btn">Delete Task</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>