<div class="sidenav">
    <ul>
        <li>
            <a routerLink="/"><i class="ion ion-home"></i></a>
        </li>
        <li>
            <a routerLink="/task"><i class="ion ion-ios-plus"></i></a>
        </li>
        <li>
            <a routerLink="/user"><i class="ion ion-ios-people-outline"></i></a>
        </li>
        <li>
            <a routerLink="/stats"><i class="ion ion-stats-bars"></i></a>
        </li>
        <li>
            <a routerLink="/config"><i class="ion ion-ios-cog-outline"></i></a>
        </li>
    </ul>
</div>