<div class="sidenav">
    <ul>
        <li>
            <a href="#"><i class="ion ion-home"></i></a>
        </li>
        <li>
            <a href="#"><i class="ion ion-ios-people-outline"></i></a>
        </li>
        <li>
            <a href="#"><i class="ion ion-stats-bars"></i></a>
        </li>
        <li>
            <a href="#"><i class="ion ion-ios-star-outline"></i></a>
        </li>
        <li>
            <a href="#"><i class="ion ion-ios-cog-outline"></i></a>
        </li>
    </ul>
</div>