.sidenav {
    background-color: #fff;
    position: fixed;
    width: 70px;
    top: 64px;
    left: 0px;
    bottom: 0px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 24px;
            a {
                padding: 15px;
                display: block;
                width: 70px;
                color: #F94046;
            }
            a:hover {
                background-color: rgba(0,0,0, 0.1);
            }
        }
    }
}