<div class="row">
    <div class="col l8">
        <div class="component-wrapper">

            <div class="component">
                <div class="component-title">
                    <h3>Latest Tickets</h3>
                </div>
                <div class="component-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>T0001</td>
                                <td><div class="dot red"></div> Critical</td>
                                <td>Project 1</td>
                                <td>12/10/17</td>
                            </tr>
                            <tr>
                                <td>T0002</td>
                                <td><div class="dot green"></div> Normal</td>
                                <td>Project 2</td>
                                <td>12/10/17</td>
                            </tr>
                            <tr>
                                <td>T0003</td>
                                <td><div class="dot green"></div> Normal</td>
                                <td>Project 3</td>
                                <td>12/10/17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="component">
                <div class="component-title">
                    <h3>Sales Stats</h3>
                </div>
                <div class="component-body">

                </div>
            </div>

            <div class="component">
                <div class="col l8">
                    <div class="component-title">
                        <h3>Elliot Forbes<br/><small>Client Name</small></h3>
                    </div>
                    <div class="component-body">
                        <div class="col l4">
                            <h3>In Progress<br/><small>Current Status</small></h3>
                        </div>
                        <div class="col l4">
                            <h3>17th Mar, 2018<br/><small>Due Date</small></h3>
                        </div>
                        <div class="col l4">
                            <h3>Mearns Primary<br/><small>Location</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="highlights">
                        <div class="col l12">
                            <h3>£1,500<br/><small>Invoiced</small></h3>
                            <h3>£9,000<br/><small>Total</small></h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            
        </div>
    </div>
    <div class="col l4">
        <div class="card-holder">
            <div class="col l6">
                <div class="action-card">
                    <span>43</span> 
                    <br/>Pending
                </div>
                <div class="action-card">
                    <span>2</span> 
                    <br/>In Progress
                </div>
            </div>
            <div class="col l6">
                <div class="action-card">
                    <span>192</span> 
                    <br/>Completed
                </div>
                <div class="action-card">
                    <span>0</span> 
                    <br/>Rejected
                </div>
            </div>
        </div>
    </div>
</div>